{% extends 'nav.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="/static/layui/css/layui.css">

{% endblock %}

{% block content %}

    <div class="layui-row layui-col-space1">
    <!-- 镜像标签表格-->
        <div class="layui-col-md2">
            <table id="imagelist" lay-filter="tableImage"></table>
        </div>
        <!-- 镜像标签表格-->
        <div class="layui-col-md7">
            <table id="taglist" lay-filter="tableTag"></table>
        </div>
        <!-- 镜像推送表格-->
        <div class="layui-col-md3">
            <table id="pushlist" lay-filter="tablePush"></table>
        </div>
    </div>




{% endblock %}

{% block script%}
     //数据行操作按钮
    <script type="text/html" id="barDemoTag">
        <a class="layui-btn layui-btn-xs" lay-event="push">推送</a>
        <a class="layui-btn layui-btn-xs" lay-event="deploy">部署</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    //批量操作按钮
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="push">推送</button>
        </div>
    </script>


    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg)) {
                return unescape(arr[2]);
            } else {
                return null;
            }
        }


        layui.use(['table', 'jquery', 'layer', 'form'], function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery;
            var registry = getQueryString('registry');
            var repository = getQueryString('repository');
            var registry_token = getCookie('Registry-Token');
            var abbr_image = ''; //取项目之后的镜像
            var pre_push = []; //预推送的镜像

            //镜像表格渲染
            table.render({
                elem: '#imagelist', //指定原始表格元素选择器（推荐id选择器）
                url: '{% url 'repository:image' %}?registry=' + registry + '&repository=' + repository ,
                method: 'get',
                headers: {'Registry-Token' : registry_token},
                page: {
                    layout:['prev', 'page', 'next', 'count'],
                    groups: 1,
                    first: false,
                    last: false,
                },
                limit: 15,
                skin: 'line', //行边框风格
                even: true, //开启隔行背景
                cols: [[
                    {field: 'image', title: '镜像'},
                ]],
            });

            //tag表格渲染
            var tableInsTag = table.render({
                elem: '#taglist', //指定原始表格元素选择器（推荐id选择器）
                page: true, //分页
                limit: 10,
                skin: 'line', //行边框风格
                even: true, //开启隔行背景
                cols: [[
                    {field: 'tag', title: '版本'},
                    {field: 'imageid', title: '镜像ID'},
                    {field: 'created_time', title: '创建时间'},
                    {title: '操作', align: 'center', toolbar: '#barDemoTag'},
                ]],
            });

            //推送表格渲染
            var tableInsPush = table.render({
                elem: '#pushlist', //指定原始表格元素选择器（推荐id选择器）
                page: true, //分页
                limit: 10,
                skin: 'line', //行边框风格
                even: true, //开启隔行背景
                toolbar: '#toolbarDemo',
                cols: [[
                    {field: 'pre_image', title: '预推送镜像'},
                ]],
                data: pre_push,
            });


            // 行点击事件
            table.on('row(tableImage)', function (obj) {
                var data = obj.data,
                    image = repository + '/' + data.image;
                abbr_image = data.image;

                //tag表格重载
                tableInsTag.reload({
                    url: '{% url 'repository:imagetag' %}?registry=' + registry + '&image=' + image,
                    method: 'get',
                });
            });

            // 双击添加加推送镜像
            table.on('rowDouble(tableTag)',function(obj) {
                var data = obj.data;
                var pre_image = abbr_image + ':' + data.tag;
                var dict = {};
                dict['pre_image'] = pre_image ;
                pre_push.push(dict);

                // 推送表格重载
                tableInsPush.reload({
                   data: pre_push,
                });
            });

            // 双击去除推送镜像
            table.on('rowDouble(tablePush)',function(obj) {
                var data = obj.data;
                var pre_image = data.pre_image;
                for(var i=0;i<=pre_push.length;i++){
                    if(pre_push[i].pre_image == pre_image){
                        pre_push.splice(i,1);
                        break;
                    }
                }

                // 推送表格重载
                tableInsPush.reload({
                   data: pre_push,
                });
            });
        });
    </script>
{% endblock %}