{% extends 'nav.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="/static/layui/css/layui.css">
{% endblock %}

{% block content %}
    <div class="layui-row">
        <div class="layui-col-xs4 layui-breadcrumb" style="visibility: visible; padding: 10px 10px 0px 10px; line-height:28px;">
            <div class="grid-demo">
                <a href="{% url 'cicd:cicdlist' %}">持续集成</a>
                <a><cite>任务列表</cite></a>
            </div>
        </div>
    </div>

    <table id="cicdjoblist" lay-filter="tableDemo"></table>
{% endblock %}

{% block script%}
     //数据行操作按钮
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="build">运行</a>
    </script>

    //批量操作按钮

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="build">运行</button>
        </div>
    </script>

    <script>

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        layui.use(['table', 'jquery', 'layer', 'form'], function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery;
            var cicdid = getQueryString('cicdid');

            //表格渲染
            table.render({
                elem: '#cicdjoblist', //指定原始表格元素选择器（推荐id选择器）
                url: '{% url 'cicd:cicdjob' %}?cicd=' + cicdid,
                method: 'get',
                page: true, //分页
                limit: 10,
                skin: 'line', //行边框风格
                even: true, //开启隔行背景
                toolbar: '#toolbarDemo',
                cols: [[
                    {checkbox: true},
                    {field: 'job_name', title: '任务名', width: '20%'},
                    {field: 'job_desc', title: '任务描述', width: '35%'},
                    {field: 'isrunning', title: '是否运行', width: '10%'},
                    {field: 'isenabled', title: '是否有效', width: '10%'},
                    {title: '操作', align: 'center', toolbar: '#barDemo', width: '21%'},
                ]],
            });

            //监听工具条,每行
            table.on('tool(tableDemo)', function (obj) { //注：tool是工具条事件名，host是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if (layEvent === 'build') { //跳转
                    layer.confirm();

                }
            });


            //监听工具栏事件,头部
            table.on('toolbar(tableDemo)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'build':
                        layer.confirm();
                        break;

                }
            });
        });
    </script>
{% endblock %}