<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EWS项目发布平台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<div>
    <div class="layui-col-xs12">
        EWS CLOUD
    </div>
    <div class="layui-row">
        <div class="layui-col-xs3">
            <img src="/static/layui/images/index/主机管理.png" />
            <div>节点管理</div>
        </div>
        <div class="layui-col-xs3">
            <img src="/static/layui/images/index/我的集群.png" />
            <div>我的集群</div>
        </div>
        <div class="layui-col-xs3">
            <img src="/static/layui/images/index/镜像仓库.png" />
            <div>镜像仓库</div>
        </div>
        <div class="layui-col-xs3">
            <img src="/static/layui/images/index/项目部署.png" />
            <div>快速部署</div>
        </div>
        <div class="layui-col-xs3">
            <img src="/static/layui/images/index/项目维护.png" />
            <div>容器维护</div>
        </div>
    </div>

</div>
<footer>

</footer>
<script src="/static/layui/layui.js"></script>
</body>
</html>