{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>CONT CLOUD</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="icon" href="/static/img/logo.png" type="image/png" />
    {% block css %}{% endblock %}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><img src="/static/img/logo.png" class="layui-nav-img">CONT  CLOUD</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    {{ ews_account }}
                </a>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="{% url 'logout' %}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="{% url 'dashboard' %}">资源面板</a></li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">主机管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'hosts:hostlist' %}">主机列表</a></dd>
                        <dd><a href="{% url 'hosts:firewalllist' %}">防火墙</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">镜像仓库</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'repository:repositorypublist' %}">公有仓库</a></dd>
                        <dd><a href="{% url 'repository:repositorylist' %}?registry=2">开发仓库</a></dd>
                        <dd><a href="{% url 'repository:repositorylist' %}?registry=3">测试仓库</a></dd>
                        <dd><a href="{% url 'repository:repositorylist' %}?registry=4">发布仓库</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">项目部署</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">服务部署</a></dd>
                        <dd><a href="javascript:;">编排部署</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">项目维护</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">服务列表</a></dd>
                        <dd><a href="javascript:;">服务编排</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="{% url 'cicd:cicdlist' %}">持续集成</a></li>
                <li class="layui-nav-item"><a href="javascript:;">我的集群</a></li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">我的项目</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'project:projectlist' %}">项目版本</a></dd>
                        <dd><a href="{% url 'project:composelist' %}">启动模板</a></dd>
                        <dd><a href="javascript:;">参数配置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="{% url 'users:grouplist' %}">我的团队</a></li>
                <li class="layui-nav-item"><a href="">监控服务</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        {% block content %}{% endblock %}
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 2019 ews.gisquest.com
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['table', 'jquery', 'layer', 'form', 'element'], function () {
        var table = layui.table,
            $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            element = layui.element;
     });
</script>
{% block script %}{% endblock %}
</body>
</html>