{% extends 'nav.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="/static/layui/css/layui.css">
{% endblock %}

{% block content %}
    <!--新建防火墙规则表单-->
    <div class="layui-row" id="addport" style="display:none;">
        <div class="layui-col-md12">
            <form class="layui-form">
                {% csrf_token %}
                <br>
                <div class="layui-form-item">
                    <label class="layui-form-label">策略：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="policy" class="layui-input" lay-verify="required" placeholder="防火墙策略说明">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">端口：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="port" class="layui-input" lay-verify="required" placeholder="eg: 80、8080-8090">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">团队：</label>
                    <div class="layui-input-inline">
                        <select name="groupname" id="groupSelect" class="layui-input" lay-verify="required">

                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button lay-submit class="layui-btn layui-btn-normal" lay-filter="firewallcommit">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

        <!--新建防火墙规则表单，富规则-->
    <div class="layui-row" id="addrich" style="display:none;">
        <div class="layui-col-md12">
            <form class="layui-form">
                {% csrf_token %}
                <br>
                <div class="layui-form-item">
                    <label class="layui-form-label">策略：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="policy" class="layui-input" lay-verify="required" placeholder="防火墙策略说明">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">源地址：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sourceip" class="layui-input" lay-verify="required" placeholder="eg: 172.16.1.1">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">目标端口：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="destinationport" class="layui-input" lay-verify="required" placeholder="eg: 80、8080-8090">
                    </div>
                </div>

                 <div class="layui-form-item">
                    <label class="layui-form-label">允许：</label>
                    <div class="layui-input-inline">
                        <select name="isallow" class="layui-input" lay-verify="required">
                            <option value="True" selected>是</option>
                            <option value="False">否</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">团队：</label>
                    <div class="layui-input-inline">
                        <select name="groupname" id="groupSelect-2" class="layui-input" lay-verify="required">

                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button lay-submit class="layui-btn layui-btn-normal" lay-filter="richcommit">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="layui-row">
        <div class="layui-col-xs4 layui-breadcrumb" style="visibility: visible; padding: 10px 10px 0px 10px; line-height:28px;">
            <div class="grid-demo">
                <a><cite>防火墙</cite></a>
            </div>
        </div>
    </div>
    <div>
        <table id="firewalllist" lay-filter="firewall"></table>
    </div>

{% endblock %}
{% block script %}
    //批量操作按钮
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add-port">添加端口</button>
            <button class="layui-btn layui-btn-sm" lay-event="add-rich">添加富规则</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        </div>
    </script>

    //行操作按钮
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="apply">应用</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>


    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
        layui.use(['table', 'jquery', 'layer', 'form'], function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery;

            //方法级渲染
            table.render({
                elem: '#firewalllist', //指定原始表格元素选择器（推荐id选择器）
                url: '{% url 'hosts:firewall' %}',
                method: 'get',
                page: true, //分页
                limit: 10,
                skin: 'line', //行边框风格
                even: true, //开启隔行背景
                height: 'full-160', //高度
                toolbar: '#toolbarDemo',
                cols: [[
                    {checkbox: true, fixed: true},
                    {field: 'policy_id', title: 'ID', width: '10%'},
                    {field: 'policy_name', title: '防火墙策略', width: '30%'},
                    {field: 'kind', title: '策略类型', width: '10%'},
                    {field: 'count', title: '已应用的IP总数', width: '12%'},
                    {field: 'count', title: '系统推荐', width: '8%'},
                    {title: '操作', align: 'center', toolbar: '#barDemo', width: '26%'},
                ]],
            });

            //监听工具条
            table.on('tool(firewall)', function (obj) { //注：tool是工具条事件名，host是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'del') { //删除
                    layer.confirm('确认删除？', function (index) {

                    });
                }
            });

            //监听工具栏事件,头部
            table.on('toolbar(firewall)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add-port':
                        var url = '{% url 'users:get_grouplist' %}';
                        $.get(url, function (result) {
                            var groups = result.data;
                            var groupSelect = $("#groupSelect");
                            $.each(groups, function (index, data) {
                                var groupOption = $("<option value='" + data.id + "'>" + data.groupname + "</option>");
                                groupSelect.append(groupOption);
                            });
                            layer.open({
                                type: 1,
                                title: "新建防火墙策略",
                                area: ['350px', '300px'],
                                content: $('#addport').html() //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                            });
                            /* 渲染表单 */
                            form.render();
                        });
                        break;

                        case 'add-rich':
                        var url = '{% url 'users:get_grouplist' %}';
                        $.get(url, function (result) {
                            var groups = result.data;
                            var groupSelect = $("#groupSelect-2");
                            $.each(groups, function (index, data) {
                                var groupOption = $("<option value='" + data.id + "'>" + data.groupname + "</option>");
                                groupSelect.append(groupOption);
                            });
                            layer.open({
                                type: 1,
                                title: "新建防火墙策略",
                                area: ['350px', '450px'],
                                content: $('#addrich').html() //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                            });
                            /* 渲染表单 */
                            form.render();
                        });
                        break;

                    case 'delete':
                        layer.confirm();
                        break;
                    case 'update':
                        layer.msg('编辑');
                        break;
                }
            });

             // 新建防火墙策略提交表单
            form.on('submit(firewallcommit)',function (data) {
                $.post({
                    url: '{% url 'hosts:firewallport' %}',
                    data: data.field,
                    success:function (data) {
                        data = JSON.parse(data);
                        if (data["status"] == 0){
                            layer.msg('新建成功');
                            layer.close(layui.index);
                            location.reload();
                        } else if (data["status"] == 1){
                            layer.msg('新建失败');
                        } else {
                            layer.msg('运行异常');
                        }
                    }
                });
                return false;
            });

             // 新建防火墙策略提交表单，富规则
            form.on('submit(richcommit)',function (data) {
                $.post({
                    url: '{% url 'hosts:firewallrich' %}',
                    data: data.field,
                    success:function (data) {
                        data = JSON.parse(data);
                        if (data["status"] == 0){
                            layer.msg('新建成功');
                            layer.close(layui.index);
                            location.reload();
                        } else if (data["status"] == 1){
                            layer.msg('新建失败');
                        } else {
                            layer.msg('运行异常');
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}