{% extends 'nav.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="/static/layui/css/layui.css">
{% endblock %}

{% block content %}
    <div class="layui-row" id="addhost" style="display:none;">
        <div class="layui-col-md12">
            <form class="layui-form">
                {% csrf_token %}
                <br>
                <div class="layui-form-item">
                    <label class="layui-form-label">IP：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="host" class="layui-input" lay-verify="required" placeholder="请输入IP地址">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">端口：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="port" class="layui-input" lay-verify="required" placeholder="请输入SSH访问端口">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">账号：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user" class="layui-input" lay-verify="required" placeholder="请输入访问账号">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" class="layui-input" lay-verify="required" placeholder="请输入密码">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button lay-submit class="layui-btn layui-btn-normal" lay-filter="hostcommit">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 主机备注编辑表单 -->
    <div class="layui-row" id="editdesc" style="display:none;">
        <div class="layui-col-md12">
            <form class="layui-form">
                {% csrf_token %}
                <br>
                <div class="layui-form-item">
                    <label class="layui-form-label">主机备注：</label>
                    <div class="layui-input-inline">
                        <input type="text" id='host_desc' name="desc" class="layui-input" lay-verify="required" placeholder="请输入中英文备注信息">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button lay-submit class="layui-btn layui-btn-normal" lay-filter="desccommit">确认</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <table id="hostlist" lay-filter="tableDemo"></table>

{% endblock %}

{% block script %}
    //数据行操作按钮
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="docker">docker</a>
        <a class="layui-btn layui-btn-xs" lay-event="container">容器</a>
        <a class="layui-btn layui-btn-xs" lay-event="image">镜像</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    //批量操作按钮
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        </div>
    </script>

    <script>
        layui.use(['table', 'jquery', 'layer', 'form'], function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery;

            //方法级渲染
            table.render({
                elem: '#hostlist', //指定原始表格元素选择器（推荐id选择器）
                url: '{% url 'hosts:get_hostlist' %}',
                method: 'get',
                page: true, //分页
                limit: 10,
                skin: 'line', //行边框风格
                even: true, //开启隔行背景
                toolbar: '#toolbarDemo',
                cols: [[
                    {checkbox: true},
                    {field: 'id', title: 'ID', width: '5%'},
                    {field: 'ip', title: 'IP', width: '15%'},
                    {field: 'state', title: '状态', width: '10%'},
                    {field: 'containers', title: '容器数', width: '10%'},
                    {field: 'cpu_cores', title: 'CPU', width: '10%'},
                    {field: 'memory', title: '内存', width: '10%'},
                    {field: 'description', title: '备注', width: '15%'},
                    {title: '操作', align: 'center', toolbar: '#barDemo', width: '25%'},
                ]],
            });


            //监听工具条,每行
            table.on('tool(tableDemo)', function (obj) { //注：tool是工具条事件名，host是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if (layEvent === 'container') { //跳转
                    //跳转至容器列表
                    window.location.href = "{% url 'hosts:containerlist' %}?id=" + data.id
                } else if (layEvent === 'image') {
                    //跳转至镜像列表
                    window.location.href = "{% url 'hosts:imagelist' %}?id=" + data.id
                } else if (layEvent === 'del') { //删除
                    layer.confirm('确认删除？', function (index) {
                        id = data['id']
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        //向服务端发送删除指令
                        $.ajax({
                            url: '{% url 'hosts:host' %}',
                            type: "delete",
                            data: {"id": id},
                            success: function (data) {
                                data = JSON.parse(data);
                                if (data["status"] == 0) {
                                    layer.closeAll();
                                    layer.msg('删除成功');
                                } else if (data["status"] == 1) {
                                    layer.msg('删除失败');
                                } else if (data["status"] == 2) {
                                    layer.msg('获取ID失败');
                                } else {
                                    layer.msg('运行异常');
                                }
                            }
                        });
                    });
                } else if (layEvent === 'edit') {
                    // 编辑备注
                    var host_id = data.id;
                    layer.open({
                        type: 1,
                        title: "编辑主机备注",
                        area: ['350px', '200px'],
                        content:$('#editdesc').html(),
                        success: function (layero, index) {

                        }
                    });
                    // 编辑主机备注提交表单
                    form.on('submit(desccommit)', function (data) {
                        data = data.field;
                        data['id'] = host_id;
                        $.post({
                            url: '{% url 'hosts:post_desc' %}',
                            data: data,
                            success: function (data) {
                                data = JSON.parse(data);
                                if (data["status"] == 0) {
                                    layer.closeAll();
                                    layer.msg('保存成功');

                                } else if (data["status"] == 1) {
                                    layer.msg('保存失败');
                                } else {
                                    layer.msg('运行异常');
                                }
                            }
                        });
                        //同步更新缓存对应的值
                        obj.data.update({
                            description: data['desc']
                        });
                    });


                } else if (layEvent === 'docker') {
                    layer.confirm('确认安装docker？', function (index) {
                        layer.close(index);
                        //向服务端发送删除指令
                    });
                }
            });
            //监听工具栏事件,头部
            table.on('toolbar(tableDemo)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        layer.open({
                            type: 1,
                            title: "添加主机",
                            area: ['350px', '350px'],
                            content: $('#addhost').html() //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                        });
                        break;
                    case 'delete':
                        layer.confirm();
                        break;
                    case 'update':
                        layer.msg('编辑');
                        break;
                }
            });

            // 添加主机提交表单
            form.on('submit(hostcommit)',function (data) {
                $.post({
                    url: '{% url 'hosts:host' %}',
                    data: data.field,
                    success:function (data) {
                        data = JSON.parse(data);
                        if (data["status"] == 0){
                            layer.msg('添加成功');
                            layer.close(layui.index);
                            location.reload();
                        }else if (data["status"] == 1){
                            layer.msg('添加公钥失败');
                        }else if (data["status"] == 2){
                            layer.msg('获取主机信息失败');
                        }else if (data["status"] == 3){
                            layer.msg('添加主机过程遇未知错误');
                        }
                    }
                });
                return false;
            });


        }); //layui.use
    </script>

{% endblock %}