{% extends 'nav.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="/static/layui/css/layui.css">
{% endblock %}

{% block content %}

    <div class="layui-row">
        <div class="layui-col-xs4 layui-breadcrumb" style="visibility: visible; padding: 10px 10px 0px 10px; line-height:28px;">
            <div class="grid-demo">
                <a href="{% url 'hosts:hostlist' %}">主机管理</a>
                <a><cite>镜像</cite></a>
            </div>
        </div>
    </div>
    <div>
        <table id="imagelist" lay-filter="image"></table>
    </div>

{% endblock %}
{% block script %}
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>


    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
        layui.use(['table', 'jquery', 'layer', 'form'], function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery,
                id = getQueryString("id");

            //方法级渲染
            table.render({
                elem: '#imagelist', //指定原始表格元素选择器（推荐id选择器）
                url: '{% url 'hosts:image' %}?hostid=' + id,
                method: 'get',
                page: true, //分页
                limit: 10,
                skin: 'line', //行边框风格
                even: true, //开启隔行背景
                height: 'full-160', //高度
                cols: [[
                    {checkbox: true, fixed: true},
                    {field: 'short_id', title: '镜像ID', width: '20%'},
                    {field: 'repotag', title: '镜像名', width: '60%'},
                    {title: '操作', align: 'center', toolbar: '#barDemo', width: '16%'},
                ]],

            });

            //监听工具条
            table.on('tool(image)', function (obj) { //注：tool是工具条事件名，host是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'del') { //删除
                    layer.confirm('确认删除？', function (index) {
                        var imageid = data['short_id'];
                        //向服务端发送删除指令
                        $.ajax({
                            url: '{% url 'hosts:image' %}',
                            type: "delete",
                            data: {"imageid": imageid, "hostid": id},
                            success: function (data) {
                                data = JSON.parse(data);
                                if (data["status"] == 0) {
                                    layer.close(index);
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                    layer.msg('删除成功');
                                } else if (data["status"] == 1) {
                                    layer.msg('删除失败');
                                } else if (data["status"] == 2) {
                                    layer.msg('获取主机ID和镜像ID失败');
                                } else {
                                    layer.msg('运行异常');
                                }
                            }
                        });

                    });
                }
            });

            //监听行单击事件
            table.on('rowDouble(image)', function (obj) {
                //console.log(obj.tr); //得到当前行元素对象
                //console.log(obj.data) //得到当前行数据
                //obj.del(); //删除当前行
                //obj.update(fields) //修改当前行数据
                var data = obj.data;
                var imageid = data['short_id'];

                $.ajax({
                    url: '{% url 'hosts:image' %}?imageid='+ imageid + '&hostid=' + id,
                    type: "get",
                    success: function (data) {
                        var resdata = JSON.parse(data);
                        layer.alert(JSON.stringify(resdata, null, "\t"),{
                            title: '当前行数据',
                            //area: '500px',
                        });
                        //标注选中样式
                        obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
                    }
                });

            });
        });
    </script>
{% endblock %}