{% extends 'nav.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="/static/layui/css/layui.css">
{% endblock %}

{% block content %}
    <!-- 新建项目版本表单 -->
    <div class="layui-row" id="addversion" style="display:none;">
        <div class="layui-col-md12">
            <form class="layui-form">
                {% csrf_token %}
                <br>
                <div class="layui-form-item">
                    <label class="layui-form-label">版本号：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="version" class="layui-input" lay-verify="required" placeholder="请输入版本号（eg: v1.0）">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button lay-submit class="layui-btn layui-btn-normal" lay-filter="versioncommit">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 项目版本表格-->
    <table id="versionlist" lay-filter="tableDemo"></table>
{% endblock %}

{% block script%}
     //数据行操作按钮
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="app">应用</a>
        <a class="layui-btn layui-btn-xs" lay-event="copy">拷贝</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    //批量操作按钮
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        </div>
    </script>

    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        layui.use(['table', 'jquery', 'layer', 'form'], function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery,
                projectid = getQueryString('projectid');

            //表格渲染
            table.render({
                elem: '#versionlist', //指定原始表格元素选择器（推荐id选择器）
                url: '{% url 'project:version' %}?projectid=' + projectid,
                method: 'get',
                page: true, //分页
                limit: 10,
                skin: 'line', //行边框风格
                even: true, //开启隔行背景
                toolbar: '#toolbarDemo',
                cols: [[
                    {checkbox: true},
                    {field: 'id', title: 'ID', width: '10%'},
                    {field: 'version', title: '版本', width: '20%'},
                    {field: 'projectname', title: '项目名', width: '30%'},
                    {field: 'created_time', title: '创建时间', width: '16%'},
                    {title: '操作', align: 'center', toolbar: '#barDemo', width: '20%'},
                ]],
            });

            //监听工具条,每行
            table.on('tool(tableDemo)', function (obj) { //注：tool是工具条事件名，host是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if (layEvent === 'app') { //跳转

                } else if (layEvent === 'copy') {

                } else if (layEvent === 'del') { //删除
                    layer.confirm('确认删除？', function (index) {
                        id = data['id'];
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        //向服务端发送删除指令
                        $.ajax({
                            url: '{% url 'project:version' %}',
                            type: "delete",
                            data: {"id": id},
                            success: function (data) {
                                data = JSON.parse(data);
                                if (data["status"] == 0) {
                                    layer.closeAll();
                                    layer.msg('删除成功');
                                } else if (data["status"] == 1) {
                                    layer.msg('删除失败');
                                } else if (data["status"] == 2) {
                                    layer.msg('获取ID失败');
                                } else {
                                    layer.msg('运行异常');
                                }
                            }
                        });
                    });
                }
            });

            //监听工具栏事件,头部
            table.on('toolbar(tableDemo)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        layer.open({
                            type: 1,
                            title: "添加版本",
                            area: ['350px', '200px'],
                            content: $('#addversion').html() //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                        });
                        break;
                    case 'delete':

                        break;
                }
            });

            // 添加版本提交表单
            form.on('submit(versioncommit)',function (data) {
                data.field.projectid = projectid
                $.post({
                    url: '{% url 'project:version' %}',
                    data: data.field,
                    success:function (data) {
                        data = JSON.parse(data);
                        if (data["status"] == 0){
                            layer.close(layui.index);
                            location.reload();
                            layer.msg('添加成功');
                        }else if (data["status"] == 1){
                            layer.msg('数据异常');
                        }else if (data["status"] == 2){
                            layer.msg('请求异常');
                        }else if (data["status"] == 3){
                            layer.msg('版本已存在');
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}